<p>Dear {{name}},</p>
<p>Your interview for the position of {{jobTitle}} has been scheduled as follows:</p>
<ul>
  <li><strong>Date:</strong> {{interviewDate}}</li>
  <li><strong>Time:</strong> {{interviewTime}}</li>
</ul>
<p>Thank you!</p>
